// Container, row, grid
// ===========================================

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 - #{$gutter}px;
  margin-bottom: $row-spacing;

  &.sticky-row{ margin-bottom: 0; }
}

@include grid_builder();
@include respond-to(min-width, $sm){ @include grid_builder('sm'); }
@include respond-to(min-width, $md){ @include grid_builder('md'); }
@include respond-to(min-width, $lg){ @include grid_builder('lg'); }

[class*="col-"] {
  &.align-self-center { align-self: center; }
  &.align-self-start { align-self: flex-start; }
  &.align-self-end { align-self: flex-end; }
}
